<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/HP/Intellij Idea Work Space/AutomationBasics/src/test/java/Com/AutomationBasics">




        <classes>

            <class name="">

            </class>
        </classes>
    </test>
</suite>